
/*  
*
* table.css
* 
*  Version 1
*
* 21/12/2023  
*	
* @author Emma Carroll, Student ID x20226314
*
*/
.col-size1{
    width: 150px;
}
.col-size1{
    width: 50px;
}
.col-size1{
    width: 50px;
}
.col-size1{
    width: 50px;
}
.col-size1{
    width: 50px;
}